/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: black;
  font-size: 1rem;
  line-height: 1.4;
  /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../img/PgBck.jpg) no-repeat center center fixed;*/
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.initSocial{
  position: absolute;
  z-index: 3
}
/* The Banner image */
.Banner-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/Banner.jpg");
  color: white;
  text-align:left;
  /* Set a specific height */
  height: 50rem;
  min-width: 600px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  position: relative;
  overflow: hidden;
  filter: grayscale(100%);
}

.Banner-image background-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.Banner-image:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(100, 100, 100, 0.5)), url("../img/Banner.jpg");
  filter: grayscale(0);
  object-fit: fill;
}
.MyName:before{
  content:"Ashish";
}
.MyName:hover:before {
  content: " Upadhyay";
  color:#3DD1E7;
  font-weight: bold;
  color: white;
  text-shadow: 20px 10px 0px #ff99cc,
  -15px -6px 0px #3DD1E7;
}

.TagLine:hover{
  color:#3DD1E7;
  font-weight: bold;
  color: white;
  text-shadow: 20px 25px 0px #ff99cc,
  -15px -21px 0px #3DD1E7;
}

/* Place text in the middle of the image */
.Banner-text {
  text-align: left;
  left: 5rem;
  top : -6rem;
  height: 12rem;
  color: white;
  position: relative;
  overflow: hidden;
}

/* CSS */
.button-slipBorder {
  background-color: #3DD1E7;
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-slipBorder:focus {
  outline: 0;
}

.button-slipBorder:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button-slipBorder:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .button-slipBorder {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}

.blockquote-wrapper {
  display: flex;
  min-height: 20vh;
  padding: 0 20px;
}

/* Blockquote main style */
.blockquote {
  position: relative;
  font-family: 'Barlow Condensed', sans-serif;
  margin: 80px auto;
  align-self: center;
}

/* Blockquote header */
.blockquote h2 {
  font-family: 'Abril Fatface', cursive;
  position: relative; /* for pseudos */
  color: #e74848;
  font-size: 2.8rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  border: 2px solid #fff;
  border: solid 2px;
  border-radius:20px;
  padding: 25px;
}

/* Blockquote right double quotes */
.blockquote h2:after {
  content:"";
  position: absolute;
  border: 2px solid #e74848;
  border-radius: 0 50px 0 0;
  width: 60px;
  height: 60px;
  bottom: -62px;
  left: 50px;
  border-bottom: none;
  border-left: none;
  z-index: 3;
}

.blockquote h2:before {
  content:"";
  position: absolute;
  width: 80px;
  border: 6px solid white;
  bottom: -3px;
  left: 50px;
  z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
  .blockquote h2 {
    font-size: 3rem;
    line-height: 1.2;
  }

}

/* Blockquote subheader */
.blockquote h4 {
  position: relative;
  color: #8899A6;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 0;
  padding-top: 15px;
  z-index: 1;
  margin-left:150px;
  padding-left:12px;
}


.blockquote h4:first-letter {
  margin-left:-12px;
}

.VideoEmbed {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 600px;
  color: #8899A6;
}
.section {
  width: 50%;
  height: 100%;
  margin-left: 30px;
}

/* Gallery Slider */
.gallery-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.gallery_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thumbnails {
  position: absolute;
  bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 6px;
}

.thumbnails div {
  width: 8px;
  height: 8px;
  cursor: pointer;
  background: #aaa;
  border-radius: 100%;
}

.thumbnails div.highlighted {
  background-color: #000000;
}

.slides {
  margin: 0 16px;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  width: 540px;
  padding: 0 0.25rem;
  height: 720px;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.slides > div {
  scroll-snap-align: start;
}

.slides img {
  width: 540px;
  object-fit: contain;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.slides::-webkit-scrollbar {
  display: none;
}
/******************/

.VideoEmbed:hover{
  color: black ;
}

iframe {
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

.Contacts {

  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;

  position: relative;
  width: 600px;
  height: 350px;
  margin: 0 auto;
}

.Address {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 5vh;
  position: center;
  left: -250px;
  width: auto;
}

.Socials {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: center;
  left: -250px;
  width: auto;
  height: 275px;
}
.Resume {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2vh;
  position: center;
  left: -250px;
  width: auto;
}
.fa {
  padding: 20px;
  font-size: 40px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* Add a hover effect if you want */
.fa:hover {
  filter: grayscale(0);
  font-size: 80px;
}

.fa-linkedin {
  /*background: white;*/
  color: #007bb5;
  font-size: 60px;
  filter: grayscale(100%);

}

.fa-github {
  /*background: white;*/
  /*color: black;*/
  font-size: 60px;
  filter: grayscale(100%);
}

.fa-instagram {
  font-size: 60px;
  color: #8a3ab9;
  filter: grayscale(100%);
}

.fa-envelope {
  /*background: white;*/
  color: dodgerblue;
  font-size: 60px;
  filter: grayscale(100%);
}

/* Resume Button */
.GrabResume {
  background: transparent;
  width: 200px;
  position: relative;
  padding: 15px;
  color: #1ECD97;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  border-radius: 4px;
  font-weight: 600;
  overflow: hidden;
  border: 2px solid #1ECD97;
  text-decoration: none;
}

/* In Progress Button */
.GrabResume-progress {
  width: 500px;
  color: transparent;
}

.GrabResume-fill:after {
  content: '';
  background: #1ECD97;
  position: absolute;
  top: 0; left: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0);
  transform-origin: 0;
  display: block;
  animation: fill 1.5s linear forwards;
}

/* Button Complete */
.GrabResume-complete {
  padding: 10px;
  width: 50px;
  color: #fff;
  pointer-events: none;
}

.GrabResume-complete:after {
  font-family: FontAwesome;
  content: "\f00c";
  color: #fff;
  height: 100%;
  padding-left: 3px;
  position: absolute;
  top: 0; left: 0; right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ECD97;
}

.LightButton {
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 2vh;
  position: center;
  left: -250px;
  width: auto;
}

/* CSS button to turn light red in my room*/
.LightMyPresence {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.LightMyPresence:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-LightMyPresence 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

article {
  background: linear-gradient(
    to right,
    hsl(0, 100%, 62%),
    hsl(204 100% 59%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

@keyframes glowing-LightMyPresence {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.LightMyPresence:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Animation */
@keyframes fill {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Visitor info card */
#visitor-info {
  margin: 8rem auto 3rem;
  max-width: 900px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out;
}

#visitor-info::before {
  content: "";
  display: block;
  width: 120px;
  height: 4px;
  margin: 0 auto 12px;
  border-radius: 4px;
  background: linear-gradient(90deg, #ff6a00, #ee0979, #6a00ff);
}

.visitor-card {
  padding: 1.5rem 2rem;
  border-radius: 16px;
  background: linear-gradient(135deg, rgba(0,0,0,0.04), rgba(0,0,0,0.02));
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  backdrop-filter: blur(6px);
  transition: transform 250ms ease, box-shadow 250ms ease;
}

.visitor-card:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 36px rgba(0,0,0,0.12);
}

.visitor-message {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.6;
  transition: color 0.3s ease;
}

.visitor-message:hover {
  color: #007BFF;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Visitor map */
#visitor-map {
  width: min(92vw, 900px);
  height: 260px;
  margin: 1rem auto 6rem;
  border-radius: 12px;
  border: 1px solid rgba(0,0,0,0.08);
  box-shadow: 0 6px 18px rgba(0,0,0,0.08);
  overflow: hidden;
}

/* Ensure visitor sections don't overlap previous content */
#visitor-info,
#visitor-map {
  clear: both;
}

/* Mobile spacing and layout fixes to prevent overlap between .Socials and visitor card */
@media (max-width: 640px) {
  .Contacts {
    width: 100%;
    height: auto;
    min-height: initial;
    margin: 0 auto 2rem;
  }
  .Address,
  .Socials,
  .Resume,
  .LightButton {
    position: static;
    left: auto;
    width: 100%;
  }
  .Socials {
    height: auto;
    margin-bottom: 1.5rem;
  }
  #visitor-info {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  #visitor-map {
    margin-top: 1rem;
  }
}

/* Mobile overlap fixes: stack sections, remove rigid widths, constrain iframes, prevent horizontal overflow */
html, body { overflow-x: hidden; }

@media (max-width: 640px) {
  .Banner-image { min-width: 0; height: auto; }
  .VideoEmbed { min-width: 0; flex-direction: column; align-items: stretch; gap: 1rem; }
  .section { width: 100%; margin-left: 0; }
  iframe { height: 220px; }
  .gallery_div { flex-direction: column; }
  .slides { width: 100%; }
  #visitor-info { margin-top: 4rem; }
}
